button {
    border-radius: 0%;
}

#about {
    width: 65%;
    background-color: #203A4C;
    border: #5FB4A2;
    padding-right: 10%;

    @media #{$brk-tab} {
        width: 58%;
    }
}

#about:hover {
    background-color: #5FB4A2;
}

#arrow-down {
    padding-right: 30%;
}

.edge {
    border-radius: 0%;

    @media  #{$brk-tab} {
        margin-top: 1rem;
    }
}

#contact {
    background-color: #203A4C;
    font-size: medium;
    padding: 5% 15%;
    
    @media #{$brk-tab} {
       padding: 2% 10%; 
    }
} 

.all-button {
    @media  #{$brk-tab} {
        display: none;
    }
        
}