button {
    border-radius: 0%;
}

#about {
    width: 65%;
    background-color: rgb(20, 20, 24);;
    border: #5FB4A2;
    padding-right: 10%;
    color: white;

    @media #{$brk-tab} {
        width: 50%;
    }
}

#about:hover {
    background-color: #c41b0f;
}

#arrow-down {
    padding-right: 10%;
}

.edge {
    border-radius: 0%;

    @media  #{$brk-tab} {
        margin-top: 1rem;
    }
}

#contact {
    font-size: medium;
    padding: 5% 15%;
    color: rgb(20, 20, 24);
    margin-right: 0;
    
    @media #{$brk-tab} {
       padding: 2% 10%; 
    }

    @media #{$brk-dsk} {
        margin-right: 25%;
    }
} 

.all-button {
    margin-left: 95%;

    @media  #{$brk-tab} {
        display: none;
    }
        
}

#burger-shift {
    margin-left: 90%;
}