.navbar-nav {
    width: 60%;
    background-color: black;
    position: absolute;
    padding: 5% 0;
    left: 37%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    text-align: center;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.hidebar {

    @media #{$brk-tab} {
        display: none;
    }
}

.navbar2 {
    @media #{$hide} {
        display: none;
    }
}

.bottom {
    margin-bottom: 30%;
    height: 100%;
    
    @media #{$brk-tab} {
        display: none;
    }
}

#down-bottom {
    margin-bottom: 0;
    height: 100%;

    @media #{$brk-tab} {
        display: none;
    }
}

.bottom2 {
    height: 100%;
    margin-bottom: 5%;
    
    @media #{$hide} {
        display: none;
    }

    @media #{$brk-tab} {
        padding: 0 4% 0 7%;
    }

    @media #{$brk-dsk} {
        padding: 0 4%;
    }
}

.space-left {
    margin-right: 50%;
    
    @media #{$brk-tab} {
        margin-right: 20%;
    }
}

.pad-right {
    @media #{$brk-dsk} {
        padding: 0 13% 0 14%;
    }
}

.pad-left {
    @media #{$brk-dsk} {
        padding: 0 13% 0 14%;
    }
}

#pad-again {
    @media #{$brk-dsk} {
        padding: 0 5% 0 10%;
    }
}

.shift-over {
    @media #{$brk-tab} {
        margin-left: 45%;
    }

}

#pad-baby {
    @media #{$brk-dsk} {
        padding: 0 4% 0 0;
    }
}

#pad-kid {
    padding: 0 6% 0 9%;

    @media #{$brk-dsk} {
        padding: 0 12% 0 14%;
    }
}

#lone-bar {
    @media #{$brk-tab} {
        padding: 0 7% 0 7%;
    }

    @media #{$brk-dsk} {
        padding: 0;
    }
}

#pad-none {
    padding: 0;
}

#custom-bot {
    @media #{$brk-dsk} {
        padding: 0;
    }
}